<style>
  .col-xs-05, .col-xs-115 {
    text-align: center;
  }
  .col-xs-05 {
      width: 6.166%;
  }
  .col-xs-115 {
      width: 95.33%;
  }
</style>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Theme -->
    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">

  </head>
  <body>
    <h1 class="m-3 text-center">Penn Covid Purity Test</h1>
      <div class="row justify-content-md-center">
        <div class="col-6">
          <p class="text-center text-muted">The Covid Purity Test serves as indicator for how covid prone your current lifestyle and behaviors are.
            After your score is calculated, you can compare your score to other Penn students on campus! Share with your friends and stay safe :) </p>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-xs-05 align-self-center">
          <h4> </h4>
        </div>
        <div class="col-xs-05 align-self-center">
          <h4>Never</h4>
        </div>
        <div class="col-xs-05 align-self-center">
            <h4>1x per Month</h4>
        </div>
        <div class="col-xs-05 align-self-center">
          <h4>1x per Week</h4>
        </div>
        <div class="col-xs-05 align-self-center">
          <h4>Everyday</h4>
        </div>
      </div>

      <form method="POST" action= "{% url 'dataVis_view' user.id%}">
        {% csrf_token %}
        {% for question in questions %}
        <div class="row m-3">
          <div class="col-xs-05 align-self-center">
            <h4>{{question.id}}.</h4>
          </div>

          <div class="col-xs-05 text-center">
            <div class="form-check form-check-inline ml-3">
              <input class="form-check-input " type="radio" name={{question.id}} id="neverCheckBox" value="optionNever">
            </div>
          </div>
          
          <div class="col-xs-05 text-center">
            <div class="form-check form-check-inline ml-3">
              <input class="form-check-input" type="radio" name={{question.id}} id="oncePMCheckBox" value="optionOncePM">
            </div>
          </div>
      
          <div class="col-xs-05 text-center">
            <div class="form-check form-check-inline ml-3">
              <input class="form-check-input" type="radio" name={{question.id}} id="oncePWCheckBox" value="optionOncePW">
            </div>
          </div>
          
          <div class="col-xs-05 text-center">
            <div class="form-check form-check-inline ml-3">
              <input class="form-check-input" type="radio" name={{question.id}} id="everydayCheckBox" value="optionEveryday">
            </div>
          </div>

          <div class="col text-left">
            <p>{{question.body}}</p>
          </div>
          
        </div>
        {% endfor %}
        <div class="row m-3">
          <input class="btn btn-primary m-3" name="submit_button" type="submit" value='Calculate Score'>
        </div>
      </form>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>