{% extends 'base.html' %}
<script>
    {% block jquery %}
    var endpoint = '/api/data/'
    var data = eval("{{data}}")
    console.log(data)
    var labels =JSON.parse("{{labels}}")
    console.log(labels)
    
        var ctx = document.getElementById("myChart");
        var ctx2 = document.getElementById("myChart2");
        var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'People with higher scores',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    
        var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: labels,
            datasets: [{
                label: 'People scoring more',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    
{% endblock %}
</script>

<html lang=en>
    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Bootstrap Theme -->
        <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    </head>
    <body>
        {% block content %}
        <h1 class="m-3 text-center">Data Vis Page</h1>
        <div class='row'>
            <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
                <h1>Your Score is: {{user.covidScore}}</h1>
                <div class='col-sm-6'></div>
                <h2>Here is how it compares to others:</h2>
                <div class='col-sm-6'>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class='col-sm-6'>
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
            </div>
        </div>
        {% endblock content %}

</body>
</html>