{% extends 'base.html' %}
<script>
    {% block jquery %}

    // Chart.defaults.global.legend.display = false;

    var endpoint = '/api/data/'
    var barData = eval("{{barData}}")
    var barLabels =eval("{{barLabels}}")
    
    var below_year_pieData = eval("{{below_year_pieData}}")
    var below_school_pieData = eval("{{below_school_pieData}}")
    var below_loc_pieData = eval("{{below_loc_pieData}}")

    var above_year_pieData = eval("{{above_year_pieData}}")
    var above_school_pieData = eval("{{above_school_pieData}}")
    var above_loc_pieData = eval("{{above_loc_pieData}}")

    console.log(below_loc_pieData)
    
    var ctx = document.getElementById("scores_bChart");

    var ctx2 = document.getElementById("below_year_pChart");
    var ctx3 = document.getElementById("below_school_pChart");
    var ctx4 = document.getElementById("below_loc_pChart");

    var ctx5 = document.getElementById("above_year_pChart");
    var ctx6 = document.getElementById("above_school_pChart");
    var ctx7 = document.getElementById("above_loc_pChart");

    //------------------------ SCORE BAR CHART ------------------------
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: barLabels,
                datasets: [{
                    label: 'People with higher scores',
                    data: barData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        //------------------------ BELOW PIE CHARTS ------------------------
        var below_year_pChart = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ["Freshman", "Sophomore", "Junior", "Senior"],
                datasets: [
                    {
                    label: "Number of Students",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: below_year_pieData
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Students by Year'
                    }
                }
        });

        var below_school_pChart = new Chart(ctx3, {
            type: 'doughnut',
            data: {
                labels:  ["SAS", "SEAS", "Nursing", "Wharton"],
                datasets: [
                    {
                    label: "Number of Students",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: below_school_pieData
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Students By School'
                    }
                }
        });

        var below_loc_pChart = new Chart(ctx4, {
            type: 'doughnut',
            data: {
                labels: ["On Campus", "Off Campus", "At Home"],
                datasets: [
                    {
                    label: "Number of Students",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: below_loc_pieData
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Students By Location'
                    }
                }
        });

        //------------------------ ABOVE PIE CHARTS ------------------------

        var above_year_pChart = new Chart(ctx5, {
            type: 'doughnut',
            data: {
                labels: ["Freshman", "Sophomore", "Junior", "Senior"],
                datasets: [
                    {
                    label: "Number of Students",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: above_year_pieData
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Students by Year'
                    }
                }
        });

        var above_school_pChart = new Chart(ctx6, {
            type: 'doughnut',
            data: {
                labels:  ["SAS", "SEAS", "Nursing", "Wharton"],
                datasets: [
                    {
                    label: "Number of Students",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: above_school_pieData
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Students By School'
                    }
                }
        });

        var above_loc_pChart = new Chart(ctx7, {
            type: 'doughnut',
            data: {
                labels: ["On Campus", "Off Campus", "At Home"],
                datasets: [
                    {
                    label: "Number of Students",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: above_loc_pieData
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Students By Location'
                    }
                }
        });
    
{% endblock %}
</script>

<html lang=en>
    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Bootstrap Theme -->
        <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    </head>
    <body>
        {% block content %}
        <h1 class="m-5 text-center">Your Score</h1>
        <h1 class= "m-5 text-center font-weight-bold">{{user.covidScore}}</h1>
        <div class='row m-3'>
            <div class="row justify-content-md-center">
                <div class='col col-sm-4'>
                </div>
                <div class='col col-sm-4'>
                    <canvas id="scores_bChart" width="100" height="100"></canvas>
                </div>
                <div class='col col-sm-4'>
                </div>
            </div>
        </div>
        <div class='row m-3'>
            <h2 class ='m-3 text-center'>Students with Scores Below 50</h2>
            <div class='col-sm-4'>
                <canvas id="below_year_pChart" width="200" height="200"></canvas>
            </div>
            <div class='col-sm-4'>
                <canvas id="below_school_pChart" width="200" height="200"></canvas>
            </div>
            <div class='col-sm-4'>
                <canvas id="below_loc_pChart" width="200" height="200"></canvas>
            </div>
        </div>

        <div class='row m-3'>
            <h2 class ='m-3 text-center'>Students with Scores Above 50</h2>
            <div class='col-sm-4'>
                <canvas id="above_year_pChart" width="200" height="200"></canvas>
            </div>
            <div class='col-sm-4'>
                <canvas id="above_school_pChart" width="200" height="200"></canvas>
            </div>
            <div class='col-sm-4'>
                <canvas id="above_loc_pChart" width="200" height="200"></canvas>
            </div>
        </div>
        {% endblock content %}

</body>
</html>