  <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Theme -->
    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">

  </head>
  <body>
      <h1 class="m-3 text-center">Penn Covid Purity Test</h1>
      <div class="row justify-content-md-center">
        <div class="col-6">
          <p class="text-center text-muted">Before taking the Covid Purity Test, please enter the below information. All quiz takers will remain anonymous.</p>        </div>
      </div>
      <div class="container">
        <form method="POST" action="/covidQuiz/">
          {% csrf_token %}
          <div class="row">
            <label>School</label>
            <select name="School" class="form-control">
                <option>SAS</option>
                <option>SEAS</option>
                <option>Nursing</option>
                <option>Wharton</option>
                <option>Graduate</option>
              </select>
          </div>

          <div class="row mt-3">
            <label>Year</label>
            <select name="Year" class="form-control">
              <option>Freshman</option>
              <option>Sophomore</option>
              <option>Junior</option>
              <option>Senior</option>
              <option>Graduate</option>
            </select>
          </div>

          <div class="row mt-5">
            <div class="form-group">
              <p>Where will you be spending your Spring 2021 semester? </p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="On Campus">
                  <label class="form-check-label" for="inlineRadio1">On campus</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="Off Campus">
                  <label class="form-check-label" for="inlineRadio2">Off campus</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="At Home">
                  <label class="form-check-label" for="inlineRadio3">At home</label>
                </div>
            </div>
          </div>

          <div class="row mt-4">
            <p>If you are on campus, where will you be staying? </p>
            <select name="onCampusHousing" class="form-control">
              QUAD = 'Quad', _('Quad')
              HILL = 'Hill', _('Hill')
              GREG = 'Gregory', _('Gregory')
              ROD = 'Rodin', _('Rodin')
              HARR = 'Harrison', _('Harrison')
              HARN = 'Harnwell', _('Harnwell')
              LAUD = 'Lauder', _('Lauder')
              NCW = 'NCWH', _('New College House West')
              STOU = 'Stouffer', _('Stouffer')
              DUB = 'Dubois', _('Dubois')
              NA = 'NA', _('NA')
              <option>NA</option>
              <option>Quad</option>
              <option>Hill</option>
              <option>Gregory</option>
              <option>Rodin</option>
              <option>Harrison</option>
              <option>Harnwell</option>
              <option>Lauder</option>
              <option>NCWH</option>
            </select>
          </div>

          <div class="text-center">
            <input class="btn btn-primary m-5" type="submit" value='Take Quiz'>
          </div>
          
        </form>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>